<script type="text/javascript">
// ======================================================================== //
    //   ADD TICKET MODAL                                                   //

// Verify Form
function verify(x) {
    switch (x.filter) {
        case 'PaymentCardNumber':
            field.pass(x, true, 'creditcard');
            break;
        case 'PaymentCvc':
            field.pass(x, true, 'csc');
            break;
        default:
            var simplyExist = [
                    'PaymentName',
                    'PaymentExpirationDate'
                ];
            if (simplyExist.indexOf(x.filter) > -1) {
                field.pass(x);
            } else {
                x.val;
            }
            break;
    }
}
/*
Stripe.setPublishableKey('YOUR_PUBLISHABLE_KEY');
var stripeResponseHandler = function (status, response) {
    var $form = $('form#payment');
    if (response.error) {
    // Show the errors on the form
    //$form.find('.payment-errors').text(response.error.message);
    $('div#payment-error').html(response.error.message);
        //$form.find('button').prop('disabled', false);
    }
    else {
        // token contains id, last4, and card type
        var token = response.id;
        alert('token : ' + token);
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
    }
};
*/

$(document).ready(function () {
	$("#price").html("$" + sessionStorage.getItem('price'));
    $('#modal-pay-ticket-payment').show();
    $('#modal-pay-ticket-thankyou').hide();

    $('#btn-purchase').click(function (event) {
        var alertString = '';
        event.preventDefault();
        allPass = field.checkAll('form#payment');
        PaymentCardNumber = $('input[name=PaymentCardNumber]').val().toUpperCase();
        PaymentCvc = $('input[name=PaymentCvc]').val().toUpperCase();
        PaymentName = $('input[name=PaymentName]').val().toUpperCase();
        PaymentExpirationDate = $('input[name=PaymentExpirationDate]').val().toUpperCase();
        //Stripe.createToken($form, stripeResponseHandler);
        if (allPass) {
            /*
            svc('/d1/register', {
            'f_name': registerFirstName,
            'l_name': registerLastName,
            'email': registerEmail,
            'mobile': registerMobile.toString().replace(/[^0-9]/g, ''),
            'major': registerMajor,
            'year': registerYear,
            'pwd': registerPassword
            }, function (data) {
            if (data.status == 0) {
            $('#modal-pay-membership-userinfo').hide();
            $('#modal-pay-membership-thankyou').show();
            }
            else if (data.status == 10002) { //TODO
            // Error duplicate entry - email is already registered
            alert(data.short_message + '\n' + data.long_message);
            }
            else {
            // Error all other
            alert('Verify failed');
            }
            }, true);
            */
            //TODO add AJAX
            $('#modal-pay-membership-payment').hide();
            $('#modal-pay-membership-thankyou').show();
            //alertString = '<label>' + alertString + '</label>';
            //$('div#user-info').html(alertString);
        }
    });

    $('#btn-submit').click(function (event) {
        var alertString = '';
        var $form = $('form#payment');
        event.preventDefault();
        allPass = field.checkAll('form#payment');
        // Disable the submit button to prevent repeated clicks
        //$form.find('button').prop('disabled', true);
        Stripe.createToken($form, stripeResponseHandler);
        alert('Test');
        // Prevent the form from submitting with the default action
        return false;
    });
});
</script>

<a class="modal-close" href="javascript:modal.close()">X</a>

<div id="modal-pay-ticket-thankyou" class="modal-screen">
    <h1>Thank you!</h1>
    <div class="col col2">
        <div id="welcome">
            Thank you for your payment.<br /><br />
            Cheers,<br/>
            SCIA Executive Board<br /><br />
        </div>
        <div id="user-info">
        </div>
    </div>
    <div class="action-buttons">
        <a id="btn-close" class="go" href="javascript:modal.close()" tabindex="1">X &nbsp; Close</a>
    </div>
</div>

<div id="modal-pay-ticket-payment" class="modal-screen">
    <h1>Ticket Payment</h1>
    <form action="#" id="payment" method="post">
        <div class="col col2">
            <p style="margin-top:10px;">Please enter your payment information for:<br /><b>SCIA Ticket Fee: <span id="price"></span></b></p>
			<label for="TicketAmount">Number of tickets:</label>
			<input type="text" name="TicketAmount" id="TicketAmount" value="0" tabindex="5" onblur="field.check(this)" />
			<div id="totalAmount" onload="">Total: $0</div>
			
			<script>
			
			function updateAmount() {
				var price = sessionStorage.getItem('price');
				var amount = $("#TicketAmount").val();
				$("#totalAmount").html("Total: $" + price + " * " + amount + " = $" + price*amount);
			}
			
			$("#TicketAmount").keyup(function() {
				updateAmount();
			});
			</script>
			
            <label for="PaymentCardNumber">Card Number:</label>
            <input type="text" name="PaymentCardNumber" id="PaymentCardNumber" value="" tabindex="1" onblur="field.check(this)" />
            <label for="PaymentName">Name:</label>
            <input type="text" name="PaymentName" id="PaymentName" value="" tabindex="2" onblur="field.check(this)" />
            <div class="expdate-cvc">
                <label for="PaymentExpirationDate">Exp Date:</label>
                <label for="PaymentCvc">CVC:</label>
                <input type="text" name="PaymentExpirationDate" id="PaymentExpirationDate" value="" tabindex="3" onblur="field.check(this)" />
                <input type="text" name="PaymentCvc" id="PaymentCvc" value="" tabindex="4" onblur="field.check(this)" />
            </div>
        </div>
        <div class="col col2">
            <div id="payment-error"></div>
        </div>
        <div class="action-buttons">
            <a id="btn-purchase" class="go" href="#" tabindex="5">Purchase &nbsp; &gt;</a>
        </div>
    </form>
</div>