<script type="text/javascript">
    // ======================================================================== //
    //   LOGIN MODAL                                                            //

    var loginEmail, loginPassword, loggedIn;
    // Verify Form
    function verify(x) {
        switch (x.filter) {
            default:
                var simplyExist = [
                    'LoginEmail',
                    'LoginPassword',
                    'ResendEmail',
                    'VerifyConfirmationCode'
                ];
                if (simplyExist.indexOf(x.filter) > -1) {
                    field.pass(x);
                } else {
                    x.val;
                }
                break;
        }
    }

    function closeModal() {
        if (loggedIn) {
            location.reload();
        } else {
            modal.close();
        }
    }

    $(document).ready(function () {
        $('#modal-login-userinfo').show();
        $('#modal-login-verify').hide();
        $('#modal-login-resend').hide();
        $('#modal-login-sent').hide();
        $('#modal-login-thankyou').hide();

        $('#btn-login').click(function (event) {
            event.preventDefault();
            allPass = field.checkAll('form#login');
            loginEmail = $('input[name=LoginEmail]').val();
            loginPassword = $('input[name=LoginPassword]').val();
            if (allPass) {
                svc('/d1/user/login', {
                    'email': loginEmail,
                    'pwd': loginPassword
                }, function (data) {
                    if (data != null) {
                        if (data.status == 0) {
                            location.reload();
                        }
                        else if (data.status == 10051) {
                            // Verify account
                            $('#modal-login-userinfo').hide();
                            $('#modal-login-verify').show();
                            $('#modal-login-resend').hide();
                            $('#modal-login-sent').hide();
                            $('#modal-login-thankyou').hide();
                        }
                        else if (data.status == 10050) {
                            // Error login failed - email/password combination was not correct
                            alert(data.short_message + '\n' + data.long_message);
                        }
                        else {
                            // Error all other
                            alert('Login failed');
                        }
                    }
                    else {
                        // Data null
                        alert('Data null');
                    }
                }, true);
                //TEST
                //$.cookie('card_id', 123);
                //$.cookie('f_name', 'JACK');
                //$.cookie('l_name', 'KWAN');
                //$.cookie('pay_membership_flag', 1);
                location.reload();
            }
        });

        $('#link-resend').click(function (event) {
            event.preventDefault();
            $('#modal-login-userinfo').hide();
            $('#modal-login-verify').hide();
            $('#modal-login-resend').show();
            $('#modal-login-sent').hide();
            $('#modal-login-thankyou').hide();
        });

        $('#btn-resend').click(function (event) {
            event.preventDefault();
            allPass = field.checkAll('form#resend');
            resendEmail = $('input[name=VerifyConfirmationCode]').val();
            if (allPass) {
                svc('/d1/user/resendVerificationEmail', {
                    'email': resendEmail
                }, function (data) {
                    if (data.status == 0) {
                        $('#modal-login-userinfo').hide();
                        $('#modal-login-verify').hide();
                        $('#modal-login-resend').hide();
                        $('#modal-login-sent').show();
                        $('#modal-login-thankyou').hide();
                    }
                    else if (data.status != null) {
                        // Error resend email failed
                        alert(data.short_message + '\n' + data.long_message);
                    }
                    else {
                        // Error all other
                        alert('Resend email Failed');
                    }
                }, true);
            }
        });

        $('#btn-verify').click(function (event) {
            event.preventDefault();
            allPass = field.checkAll('form#verify');
            vrf_token = $('input[name=VerifyConfirmationCode]').val();
            if (allPass) {
                svc('/d1/register?action=vrf', {
                    'email': loginEmail,
                    'vrf_token': vrf_token
                }, function (data) {
                    if (data.status == 0) {
                        svc('/d1/user/login', {
                            'email': loginEmail,
                            'pwd': loginPassword
                        }, function (data2) {
                            if (data2.status == 0) {
                                $('#modal-login-userinfo').hide();
                                $('#modal-login-verify').hide();
                                $('#modal-login-resend').hide();
                                $('#modal-login-sent').hide();
                                $('#modal-login-thankyou').show();
                                loggedIn = true;
                            }
                            else if (data2.status == 10050) {
                                // Error login failed - email/password combination was not correct
                                alert(data2.short_message + '\n' + data2.long_message);
                            }
                            else {
                                // Error all other
                                alert('Login failed');
                            }
                        }, true);
                    }
                    else if (data.status == 10003) {
                        // Error verify failed - supplied vrf_token does not match token on file
                        alert(data.short_message + '\n' + data.long_message);
                    }
                    else if (data.status == 10004) {
                        // Error account already verified - account already verified
                        alert(data.short_message + '\n' + data.long_message);
                    }
                    else {
                        // Error all other
                        alert('Verify failed');
                    }
                }, true);
            }
        });
    });
</script>

<a class="modal-close" href="javascript:closeModal()">X</a>

<div id="modal-login-userinfo" class="modal-screen">
    <h1>Login</h1>
    <form action="#" id="login" method="post">
        <div class="col col2">
            <label for="LoginEmail">Email:</label>
            <input type="text" name="LoginEmail" id="LoginEmail" value="" tabindex="1" onblur="field.check(this)" />
            <label for="LoginPassword">Password:</label>
            <input type="password" name="LoginPassword" id="LoginPassword" value="" tabindex="2" onblur="field.check(this)" />
        </div>
        <div class="action-buttons">
            <a id="btn-login" class="go" href="#" tabindex="3">Login &nbsp; &gt;</a>
        </div>
    </form>
</div>

<div id="modal-login-thankyou" class="modal-screen">
    <h1>Welcome!</h1>
    <div class="col col2">
        <div id="welcome">
            Thank you!  Your SCIA account is verified.<br /><br />
        </div>
        <div id="user-info">
        </div>
    </div>
    <div class="action-buttons">
        <a id="btn-close" class="go" href="javascript:closeModal()" tabindex="1">X &nbsp; Close</a>
    </div>
</div>

<div id="modal-login-verify" class="modal-screen">
    <h1>Unverified Account</h1>
    <div class="col col2">
        <div id="welcome">
            This account must be verified first. Check your email for further instructions. If you did not receive the verification email, please check your spam mailbox. <a href="javascript:;" id="link-resend" class="site-link">Click here</a> to send another email to yourself.<br /><br />
        </div>
    </div>
    <div class="action-buttons">
        <a id="btn-close" class="go" href="javascript:closeModal()" tabindex="1">X &nbsp; Close</a>
    </div>
</div>

<div id="modal-login-resend" class="modal-screen">
    <h1>Resend Verification Email</h1>
    <form action="#" id="resend" method="post">
        <div class="col col2">
            <label>Please enter the email address that you registered with to resend the verification email.  Please make sure that uscscia.com is allowed to send you email.</label>
            <label for="ResendEmail">Email Address:</label>
            <input type="text" name="ResendEmail" id="ResendEmail" value="" tabindex="1" onblur="field.check(this)" />
        </div>
        <div class="action-buttons">
            <a id="btn-resend" class="go" href="#" tabindex="5">Resend &nbsp; &gt;</a>
        </div>
    </form>
</div>

<div id="modal-login-sent" class="modal-screen">
    <h1>Resend Verification Email</h1>
    <div class="col col2">
        <div id="welcome">
            Thank you! Verification email was sent.<br /><br />
        </div>
    </div>
    <div class="action-buttons">
        <a id="btn-close" class="go" href="javascript:closeModal()" tabindex="1">X &nbsp; Close</a>
    </div>
</div>