!!! 5
html
	head
		title USC SCIA
		link(rel='stylesheet', href='/css/index.css')
	body
		// Glad you like the site enough to check out the source,
		// Get in touch with us, especially if you'd like to make the site even better.
		//
		// admin@uscscia.com

		div#header.ZuneView-spacer
			div#title Southern California Indo Americans
			ul#navigation
				li About
				li Events
				li Register
				li Login

		div#ZuneView
		div.ZuneView-spacer
		div#footer
			div#legal
				&copy 2008-2013 USC SCIA

		script(src='/js/dist/SCIA.js')
		
