!!! 5
html
	head
		title USC SCIA
		link(rel='stylesheet', href='/css/indexMain.css')
	body
		div#header
			div#header-content
				div#logo-elements
					img#peacock(src="img/peacock.png")
					img#scia(src="img/scia.png")
		div#master-container
			div#main-img-container
				img#main-img(src="img/banquet1.jpg")
			div#background-shadow-gradient
			div#lower-depth-gradient
		div#footer