<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="width: 100% !important;-webkit-text-size-adjust: none;background: rgb(245, 245, 245);margin: 0;padding: 30px 0 30px 0">
    	<div id="content-wrapper" style="background: white;width: 600px;margin: auto">
    		<img src="https://www.uscscia.com/assets/images/email_header.png" style="max-width: 600px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none" /><div class="main-content" style="margin: 0;padding: 30px 15px 30px 15px;font: 12px/18px &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Helvetica, Arial, Verdana, sans-serif;font-size: 0.85em;color: rgb(130, 60, 60)">
	            Hey <%= f_name %>,
	            <br /><br />
                We heard you forgot your password and we we're here to help. Simply click the reset password icon below to change your password and go about more important things in your life.
                If clicking the link doesn't work, right click the icon and select open. Keep in mind this link is only valid for an hour. If you need another link, simply request another from the site.
        	</div>
    		<div id="conf-code-container" style="width: 200px;margin: auto;padding: 10px;border-radius: 13px;text-align: center;letter-spacing: 2px;background: rgb(255, 100, 100)">
    			<a id="conf_link" href="<%= reset_pwd_link %>" style="text-decoration: none;color: white">
    				Reset Password
    			</a>
    		</div>
        	<div class="main-content" style="margin: 0;padding: 30px 15px 30px 15px;font: 12px/18px &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Helvetica, Arial, Verdana, sans-serif;font-size: 0.85em;color: rgb(130, 60, 60)">
        		Cheers, <br /><span class="board-signature" style="color: rgb(232, 92, 65)">SCIA Executive Board</span>
        	</div>
        	<div id="footer" style="position: relative;border-top: 2px solid rgb(230, 230, 230);background: rgb(230, 230, 230); height: 50px">
        		<div id="legal" style="color: rgb(150, 150, 150);font-size: 0.7em;padding: 20px 10px 10px 15px; float: left;">&copy 2008-2013 USC SCIA</div>
        		<div id="social" style="float: right; padding-top: 5px;">
        			<a href="https://twitter.com/usc_scia"><img src="https://www.uscscia.com/assets/images/social-twitter.png" style="max-width: 35px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;padding: 0 5px 0 5px" /></a>
        			<a href="https://facebook.com/uscscia"><img src="https://www.uscscia.com/assets/images/social-facebook.png" style="max-width: 35px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;padding: 0 5px 0 5px" /></a>
        			<img src="https://www.uscscia.com/assets/images/social-instagram.png" style="max-width: 35px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;padding: 0 5px 0 5px" /></div>
        	</div>
        </div>
    </body>
</html>
