<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="*|MC:SUBJECT|*" />
        
        <title><%= title %></title>
		<style type="text/css">
			/* Client-specific Styles */
			#outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
			body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
			body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */

			/* Reset Styles */
			body{
				background: rgb(245,245,245);
				margin:0;
				padding:30px 0 30px 0px;
			}
			img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
			table td{border-collapse:collapse;}
			#backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}

			/* Template Styles */

			#content-wrapper{
				background: white;
				width: 600px;
				margin: auto;
			}

			.main-content{
				margin:0px;
				padding:30px 15px 30px 15px;
				font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
				font-size:0.85em;
				color: rgb(130,60,60);
			}
			#conf-code-container{
				width: 400px;
				margin: auto;
				padding: 0px 15px 15px 15px;
			}
			.conf-element{
				padding: 20px 15px 20px 15px;
				margin: 0px 5px 0px 5px;
				float: left;
				font:12px/18px "Courier";
				font-size: 2em;
				border: 2px solid rgb(220, 220, 240);
				border-radius: 13px;
				color: rgb(255,100,100);
			}
			.board-signature{
				color: rgb(232, 92, 65);
			}
			#footer{
				position: relative;
				border-top: 2px solid rgb(230,230,230);
				background: rgb(230,230,230);
				height: 60px;
			}
			#legal{
				color: rgb(150,150,150);
				font-size: 0.7em;
				padding: 20px 10px 10px 15px;
			}
			#social{
				position: absolute;
				top: 10px;
				right: 10px;
			}
			#social img{
				padding: 0px 5px 0px 5px;
			}
			.clear{
				clear: both;
			}
		</style>
	</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    	<div id="content-wrapper">
    		<img src="https://www.uscscia.com/assets/images/email_header.png" style="max-width:600px;"/>
            <div class="main-content">
	            Hey there, and welcome to USC SCIA!
	            <br/>
	            <br/>
	            We're super excited that you decided to become a part of the south indian community here at USC and we can't wait to begin showing you what SCIA is all about.
	            Before we can get started we need to verify your account. Simply log into your scia account at <a href="https://www.uscscia.com">uscscia.com</a> and enter the
	            conformation code provided below.
        	</div>
        	<div id="conf-code-container">
        		<% 
        			for(var i=0; i<supplies.length; i++) { 
        		%>
   						<div class="conf-element">
   							<%= vrf_code[i] %>
   						</div>
   				<% 
   					}
   				%>
        		<div class="clear"></div>
        	</div>
        	<div class="main-content">
        		Cheers, <br/>
        		<span class="board-signature">SCIA Executive Board</span>
        	</div>
        	<div id="footer">
        		<div id="legal">&copy 2008-2013 USC SCIA</div>
        		<div id="social">
        			<a href="https://twitter.com/usc_scia"><img src="https://www.uscscia.com/assets/images/social-twitter.png" style="max-width: 35px" /></a>
        			<a href="https://facebook.com/uscscia"><img src="https://www.uscscia.com/assets/images/social-facebook.png" style="max-width: 35px" /></a>
        			<img src="https://www.uscscia.com/assets/images/social-instagram.png" style="max-width: 35px" />
        		</div>
        	</div>
        </div>
    </body>
</html>